body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

#label {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    width: 250px;
    height: 250px;
    gap: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cell {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 80px;
    border-width: 1px;
}

.cell:hover {
    background-color: #b4b4be;
}

.cell:disabled {
    color:black;
}

#btn1 {
    border-radius: 10px 0 0 0;
}

#btn3 {
    border-radius: 0 10px 0 0;
}

#btn7 {
    border-radius: 0 0 0 10px;
}

#btn9 {
    border-radius: 0 0 10px 0;
}